header {
    align-items: center;
    border-bottom: 3px solid white;
    margin: 0 25px 0px 25px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 770px){
  header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
header h1{
  margin-left: 15px;
  font-family: 'Vollkorn', serif;
  color: white;
}
header nav ul li {
  margin-left: 2px;
}
body {
  background-image: url("../Image/HEROIC-Background.jpg");
}
.float-left {
  float: left;
  margin-right: 25px;
}
.adjustment{
  margin: 15px;
  max-width: 900px;
}

.input-textarea {
  min-height: 120px;
}

.img-thumbnail{
  margin: 15px 0 15px 0;
}

