header {
    align-items: center;
    border-bottom: 3px solid white;
    margin: 0 25px 25px 25px;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 650px){
    header, article{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  header h1{
    margin-left: 15px;
    font-family: 'Vollkorn', serif;
    color: white;
    white-space: nowrap;
  }
  header nav ul li {
    margin-left: 25px;
  }
  body {
    background-image: url("../Image/HEROIC-Background.jpg");
  }
  .lead{
    display: flex;
    flex-wrap: wrap;
  }
  .float-left {
    float: left;
    margin-right: 25px;
    margin-left: 25px;
  }
  .float-left-2 {
    float: left;
    margin-right: 25px;
  }
  img {
    height: 10%;
  }
    @media (max-width: 650px){
      .form-control {
        margin: 0 25px 0 0;
      }
    }

    .adjustment{
      margin-left:25px
    }

    @media (min-width:1200px){
      .adjustment{
        max-width:1250px
      }
    }

    @media (max-width:1400px){
      .adjustment{
        margin: 0 25px 0 25px;
      }
    }
    .input-textarea {
      min-height: 120px;
      width: 100%;
      padding: 0.625rem;
      resize: vertical;
    }
